# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development

# -----------------------------------------------------------------------------
# Analytics (PostHog)
# -----------------------------------------------------------------------------

NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=


# -----------------------------------------------------------------------------
# Database (Postgres - Neon)
# -----------------------------------------------------------------------------
DATABASE_URL=



# -----------------------------------------------------------------------------
# Authentication (Better Auth)
# -----------------------------------------------------------------------------
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# Editor Image Upload (UploadThing)
# -----------------------------------------------------------------------------
UPLOADTHING_TOKEN=

# -----------------------------------------------------------------------------
# Subscriptions (Stripe)
# -----------------------------------------------------------------------------
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_MONTHLY_PLAN_ID=


# -----------------------------------------------------------------------------
# Reminder emails (Resend)
# -----------------------------------------------------------------------------
RESEND_API_KEY=
# Register a domain at https://resend.com/domains
EMAIL_FROM_ADDRESS="mail@[yourdomain]"
